.portfolio__top h6{
    color: var(--primary-color);
    margin-bottom: 15px;
}

.portfolio__card{
    position: relative;
}
.portfolio__content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0,13,107,0.6),rgb(0,13,107,0.6));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform:  translateY(-5%);
    opacity: 0;
    transition: 0.3s;
    border-radius: 5px;
}
.portfolio__content span{
    background:var(--primary-color);
    color: var(--white-color);
    padding: 10px;
    border-radius: 10px;
}
.portfolio__content span:hover{
    background:var(--white-color);
    color: var(--primary-color);

}
.portfolio__img img{
    border-radius: 5px;
}
.portfolio__card:hover .portfolio__content{
        transform: translateY(0);
        opacity: 1;
    }
    
.portfolio__content a{

    text-decoration: none;
    font-size: 0.9rem;
    cursor: pointer;
}
.portfolio__content h5{
    color: var(--white-color);
    font-size: 1.5rem;
    margin-bottom: 10px;

}

/* ------------------Responsive ----------------------------*/
@media only screen and (max-width:768px){

    .portfolio__content h5{
        font-size:1.2rem;
    }
    .portfolio__content a{
        font-size:0.8rem;
        line-height: 20px;
    }
}