.skill__wrapper{
    background: var(--card-color);
    padding:20px;
    border-radius: 10px;
    

}
.skill__wrapper h5{
    color: var(--white-color);
    padding-bottom: 5px;
    text-align: center;
}
.skill__bar{
    height: 5px;
    width: 100%;
    position: relative;
    background: var(--scroll-bar-color);
    border-radius: 50px;
    z-index: 10;

}
.skill__bar-percentage{
    background: var(--primary-color);
    height: 5px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    border-radius: 50px;
}
.skill__title{
    color: var(--white-color);

}
.skill__title span{
    margin-bottom: 10px;
}

/* ------------------Responsive----------------------------- */
@media only screen and (max-width:992px){

    .skill__title h6{
        font-size: 0.8rem;
    }
    .skill__title span{
        font-size: 0.7rem;
    }
}